* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin-block-end: 200px;
}

body {
  margin: 0;
  font-family: "Tenor Sans", sans-serif;
  scroll-behavior: smooth;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 0.3em 4em 0.3em 4em;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  position: fixed;
  z-index: 99;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-left: 3em;
}
nav ul :hover {
  cursor: pointer;
}
nav ul a {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

a:after, a.active:after {
  content: "";
  display: block;
  margin: auto;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

a:hover:after, a.active:after {
  width: 100%;
  background: #444;
}

a {
  text-decoration: none;
  color: #393839;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo h2 {
  padding-bottom: 5px;
  margin-left: 0.7em;
  margin-right: 0.7em;
  font-weight: lighter;
  border-bottom: #393839 1px solid;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.container .vide {
  width: 100%;
  height: 100px;
  background-color: #F5F5F5;
}
.container div {
  display: flex;
  flex-direction: row;
}
.container div div {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container div #divyellow {
  background-color: #DCB902;
}
.container #divgreen {
  background-color: #078759;
}
.container #divblue {
  background-color: #62B6AA;
}
.container #divblack {
  background-color: black;
  color: #62B6AA;
}
.container #divpink {
  background-color: #BC0735;
}
.container .divtof {
  background-image: url(/images/photoprofil.jpg);
  background-position: center;
  background-size: cover;
  width: 230px;
  height: 230px;
}
.container .cafe1, .container .todo1, .container .matrix1, .container .food1, .container .air1 {
  cursor: pointer;
}
.container .cafe2 {
  background-image: url(/images/cafe.jpg);
  background-position: center;
  background-size: cover;
}
.container .cafe2 i {
  display: flex;
  padding: 1em;
  color: #BC0735;
  justify-content: end;
}
.container .todo2 {
  background-image: url(/images/todo.jpg);
  background-position: center;
  background-size: cover;
}
.container .todo2 i {
  display: flex;
  padding: 1em;
  color: #BC0735;
  justify-content: end;
}
.container .matrix2 {
  background-image: url(/images/Matrix.jpg);
  background-position: center;
  background-size: cover;
}
.container .matrix2 i {
  display: flex;
  padding: 1em;
  color: #BC0735;
  justify-content: end;
}
.container .food2 {
  background-image: url(/images/Matrix.jpg);
  background-position: center;
  background-size: cover;
}
.container .food2 i {
  display: flex;
  padding: 1em;
  color: #BC0735;
  justify-content: end;
}
.container .air2 {
  background-image: url(/images/Matrix.jpg);
  background-position: center;
  background-size: cover;
}
.container .air2 i {
  display: flex;
  padding: 1em;
  color: #BC0735;
  justify-content: end;
}

#vba {
  background-color: #D9D9D9;
}

#projet {
  background-color: #D9D9D9;
}

main {
  background-color: #F5F5F5;
}

.titre1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
  margin-top: 50px;
}

.formulaire {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  background-color: #D9D9D9;
  padding: 20px;
}

input {
  margin: 20px;
  border: none;
  padding: 5px;
  outline: none;
}

textarea {
  margin: 20px;
  border: none;
  padding: 5px;
}

.envoi {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  padding: 5px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.envoibut {
  padding: 3px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

button:after {
  content: "";
  display: block;
  margin: auto;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

button:hover:after {
  width: 100%;
  background: #444;
}

.liens {
  display: flex;
  flex-direction: column;
  padding: 5px 100px 5px 100px;
}
.liens div {
  padding: 10px 30px;
}

.block1, .block2, .block3 {
  display: flex;
  flex-direction: column;
  padding-left: 7em;
}
.block1 a, .block2 a, .block3 a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-left: 1em;
}
.block1 p, .block2 p, .block3 p {
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: row;
}
.block1 p i, .block2 p i, .block3 p i {
  margin-right: 1em;
  margin-left: 2em;
}
.block1 h5, .block2 h5, .block3 h5 {
  margin-bottom: 0px;
}

#bgyellow {
  background-color: #DCB902;
}

#bgpink {
  background-color: #BC0735;
  color: #D9D9D9;
}

#bggreen {
  background-color: #078759;
}

#bgblue {
  background-color: #62B6AA;
}

.cv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#parcours p {
  padding: 1em 10em 1em 10em;
  text-justify: distribute;
  text-align: justify;
}
#parcours .envoibut {
  justify-content: center;
  width: 15em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.liens div:nth-of-type(1) {
  width: 13em;
}
.liens div:nth-of-type(2) {
  width: 12em;
}

#competences, #parcours, #contact {
  padding-top: 2em;
}

.modal {
  position: fixed;
  top: 15%;
  left: 25%;
  z-index: 99;
  cursor: default;
}

.animate__animated {
  width: 230px;
  height: 230px;
}/*# sourceMappingURL=style.css.map */