$colorwhite: #FFFFFF;
$colorblack: black;
$colorlogobleu: #62B6AA;
$coloryellow: #DCB902;
$colorgreen: #078759;
$colorpink: #BC0735;
$colorgreylight: #F5F5F5;
$colorgreymedium: #D9D9D9;
$colorgreydark: #393839;

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin-block-end: 200px;
    
}

body {
    margin: 0;
    font-family: 'Tenor Sans', sans-serif;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0.3em 4em 0.3em 4em;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    position: fixed;
    z-index: 99;

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding-left: 3em;

        :hover {
            cursor: pointer;

        }

        ;

        a {
            margin-left: 1.5em;
            margin-right: 1.5em;


        }
    }
}

a:after, a.active:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

a:hover:after, a.active:after{
    width: 100%;
    background: #444;
}


a {

    text-decoration: none;
    color: $colorgreydark;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    h2 {
        padding-bottom: 5px;
        margin-left: 0.7em;
        margin-right: 0.7em;
        font-weight: lighter;
        // text-decoration:underline  ;
        border-bottom: $colorgreydark 1px solid;

    }

}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    .vide{
        width: 100%;
        height: 100px;
        background-color: $colorgreylight;
    }

    div {
        display: flex;
        flex-direction: row;

        // background-color: $colorgreymedium;
        // margin: 50px ;

        div {
            // width: 230px;
            // height: 230px;
            margin: 15px;
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;
            
           
           


        }
        #divyellow {
            background-color: $coloryellow;   
        }
        

    }
    #divgreen{
        background-color: $colorgreen; 

    }
    #divblue{
        background-color: $colorlogobleu; 

    }
    #divblack{
        background-color: $colorblack; 
        color: $colorlogobleu;

    }
    #divpink{
        background-color: $colorpink; 

    }
    .divtof{
        background-image: url(/images/photoprofil.jpg);
        background-position: center;
        background-size: cover;  
        width: 230px;
        height: 230px;
    
    }
    .cafe1, .todo1, .matrix1, .food1, .air1{
        cursor: pointer;
    }
    .cafe2{
        background-image: url(/images/cafe.jpg);
        background-position: center;
        background-size: cover;  
        
        i{
            display: flex;
            padding: 1em;
            color: $colorpink;
            justify-content: end;
        }
    }
    .todo2{
        background-image: url(/images/todo.jpg);
        background-position:center;
        background-size: cover;  
        
        i{
            display: flex;
            padding: 1em;
            color: $colorpink;
            justify-content: end;
        }
    }
    .matrix2{
        background-image: url(/images/Matrix.jpg);
        background-position:center;
        background-size: cover;  
        
        i{
            display: flex;
            padding: 1em;
            color: $colorpink;
            justify-content: end;
        }
    }
    .food2{
        background-image: url(/images/Matrix.jpg);
        background-position:center;
        background-size: cover;  
        
        i{
            display: flex;
            padding: 1em;
            color: $colorpink;
            justify-content: end;
        }
    }
    .air2{
        background-image: url(/images/Matrix.jpg);
        background-position:center;
        background-size: cover;  
        
        i{
            display: flex;
            padding: 1em;
            color: $colorpink;
            justify-content: end;
        }
    }

}
    
    
#vba{

    background-color: $colorgreymedium;
}
#projet{
    background-color: $colorgreymedium;
   
    
}

// #projet:hover{
//     animation: flipOutY; /* referring directly to the animation's @keyframe declaration */
//     animation-duration: 2s; /* don't forget to set a duration! */

// }

main {
    background-color: $colorgreylight;
}

.titre1{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
    margin-top: 50px;
}

.formulaire{
    width: 100%;
    // height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color: $colorgreymedium;
    padding:20px;

}
input{
    margin: 20px;
    border: none;
    padding:5px;
    outline: none
}
textarea{
    margin: 20px;
    border: none;
    padding:5px;
    
}
.envoi {
    width: 100%;
     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
    
}
button{
    border: none;
    padding: 5px;
    background-color: $colorwhite;
    cursor: pointer;
    
    
  
}


.envoibut{
    padding:3px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $colorwhite;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
   
    
}



button:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

button:hover:after {
    width: 100%;
    background: #444;
}
.liens{
    display: flex;
    flex-direction: column;
    padding: 5px 100px 5px 100px;
    div{
        padding: 10px 30px;
    }
}

.block1, .block2, .block3{
    display: flex;
    flex-direction: column;
    padding-left: 7em ;
    a{
        display:block;
        width:fit-content;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        margin-left: 1em;
    
    }
    
    p{
        margin-bottom: 1.5em;
        display: flex;
        flex-direction: row;
        i{
            margin-right: 1em;
            margin-left: 2em;
        }
    
    
    }
    h5{
        margin-bottom: 0px;
    
    }
}

#bgyellow{
    background-color: $coloryellow;
}
#bgpink{
    background-color: $colorpink;
    color:$colorgreymedium
}
#bggreen{
    background-color: $colorgreen;
}
#bgblue{
    background-color: $colorlogobleu;
}

// .reveal {
//     position: relative;
//     transform: translateY(150px);
//     opacity: 1;
//     transition: 2s all ease;
//   }
  
//   .reveal.active {
//     transform: translateY(0);
//     opacity: 1;
//   }
.cv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#parcours{
  

    p{
        padding: 1em 10em 1em 10em;
        text-justify: distribute;
        text-align: justify;
    }
    .envoibut{
        justify-content: center;
        width: 15em;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
}
.liens{
    div:nth-of-type(1){
        width: 13em;
    }
    div:nth-of-type(2){
        width: 12em;
    }
    
}

#competences, #parcours, #contact{
    padding-top: 2em;
   
}

.modal{
    position: fixed;
    top: 15%;
    left: 25%;
    z-index: 99;
    cursor: default;
   
}
.animate__animated{
    width: 230px;
    height: 230px;
    
}
